<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartInvest</title>
</head>
<body>
    <div id="root">this is the root file itself. you shouldn't see this.</div>
</body>
</html>







