/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    margin: 0;
    /* font-family: "DINNextW01-Regular"; */
}
 @font-face {font-family: "DINNextW01-Regular"; src: url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.eot"); src: url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.woff") format("woff"), url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.svg#DINNextW01-Regular") format("svg"); }

 .SignInPage {
     display: flex;
     height: 100%;
     width: 100%;
     position: absolute;
 }

 .signInPageImage {
    width: 50%;
    height: 100%;
 }

 .signInForm {
     display: flex;
     justify-content: center;
     align-content: center;
     flex-direction: column;
     padding: 20px;
     margin-left: 30px;
 }

 .green-button-sign-in {
     background-color: #21CE99;
     color: white;
     padding: 0px 40px;
     width: 145px;
     height: 48px;
     font: 15px "DIN Pro";
     border-radius: 4px;
     font-family: "DINNextW01-Regular";
     font-weight: 900;
 }

 .signInInput {
    background-color: #FAFAFA;
    padding: 15px 20px;
    width: 400px;
    border-radius: 4px;
    border-color: #FAFAFA;
    border: 1px solid #b1bfc4
 }

 .signInInput::hover {
    background-color: white;
}

.signInInput:focus {
    outline: 1px #21CE99;
    border-color:  #21CE99;
}



 .InputTitle {
     padding: 9px 0px;
 }

 .signUpContainer {
     /* margin: 12%; */
     display: block;
     margin: auto;
    max-width: 650px;
    margin-top: 5%;
    /* background-color: gray; */
     /* text: center; */
 }

 .SignUpForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

 .signup-field {
    box-sizing: border-box;
    background: #fff;
    font-size: 18px;
    font-weight: 400;
    height: 46px;
    padding-left: 18px;
    margin: 15px 0px;
    border-radius: 4px;
    width: 100%;
    border-color: #FAFAFA;
    border: 1px solid #b1bfc4
 }

 .signup-field:focus {
    outline: 1px #21CE99;
    border-color:  #21CE99;
}

.signup-error {
    outline: 1px red;
    border-color:  red;
    color:red
}

.signup-error:focus {
    outline: 1px red;
    border-color:  red;
    color: red;
}

 .name-input {
     display: flex;
     justify-content : space-between;
     width: inherit;
     /* width: 90% */
 }

 .right-input {
     margin-left: 10px;
 }

 .left-input {
     margin-right: 10px;
 }

 .green-button-sign-up {
    background-color: #21CE99;
    color: white;
    /* padding: 0px 48px; */
    /* width: 90%; */
    height: 48px;
    font: 20px "DIN Pro";
    border-radius: 4px;
    margin: 20px 0px;
    font-family: "DINNextW01-Regular"
}

.sign-up-header1 {
    font-size: 36px;
    font-weight: 100;
    margin: 20px 20px 20px;
    font-family: "DINNextW01-Regular";
}

.sign-up-header2 {
    font-size: 28px;
    font-weight: 100;
    margin: 20px 20px 20px;
    font-family: "DINNextW01-Regular";
}

.sign-in-div-on-sign-up-page {
    margin: auto;
    color: gray;
    font-size: 20px;
    font-family: "DINNextW01-Regular"
}
.sign-in-text-on-sign-up-page {
    color: #21CE99;
}

.errors {
    list-style-type: none;
    display: flex;
    /* justify-content: center; */
}

.bang {
    width: 16px;
    /* margin-top: 50px; */
    /* top: 2px; */
    background-position: 0% 100%;
    margin-right: 5px;
}
.ulerrors {
    padding-left: 0;
}

.signup-errors {
    margin-left: 20px;
}

.demo-login-button {
background-color: #18563e;
color: white;
padding: 0px 0px;
width: 145px;
height: 48px;
font: 15px "DIN Pro";
border-radius: 4px;
font-family: "DINNextW01-Regular";
font-weight: 900;
}

.sign-in-buttons-sign-in-page {
    display: flex;
    justify-content: space-between;
    /* align-content: flex-start; */
}