/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    margin: 0;
}
 @font-face {font-family: "DINNextW01-Regular"; src: url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.eot"); src: url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.woff") format("woff"), url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1daa609fdca8da38e5bcbb12c2a987db.svg#DINNextW01-Regular") format("svg"); }

 .SignInPage {
     display: flex;
 }

 .signInPageImage {
    width: 700px;
    height: 700px;
 }

 .signInForm {
     display: flex;
     justify-content: center;
     align-content: center;
     flex-direction: column;
     padding: 20px;
     margin-left: 30px;
     /* height: 100%;
     width:100%; */
 }

 .green-button-sign-in {
     background-color: #21CE99;
     color: white;
     padding: 0px 48px;
     width: 139.7px;
     height: 48px;
     font: 13px "DIN Pro";
     border-radius: 4px;
     font-family: "DINNextW01-Regular";
     font-weight: 900;
 }

 .signInInput::hover {
    background-color: white;
}

 .signInInput {
    background-color: #FAFAFA;
    padding: 15px 20px;
    width: 400px;
    border-radius: 4px;
    border-color: #FAFAFA;
 }

 .InputTitle {
     padding: 9px 0px;
 }

 .signUpContainer {
     margin: 12%;
     display: block;
     /* text: center; */
 }

 .SignUpForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

 .signup-field {
    background: #fff;
    font-size: 18px;
    font-weight: 400;
    height: 46px;
    padding-left: 18px;
    margin: 20px;
    border-radius: 4px;
 }

 .name-input {
     display: flex;
     justify-content : space-between;
     width: 90%
 }

 .green-button-sign-up {
    background-color: #21CE99;
    color: white;
    /* padding: 0px 48px; */
    /* width: 90%; */
    height: 48px;
    font: 20px "DIN Pro";
    border-radius: 4px;
    margin: 20px;
    font-family: "DINNextW01-Regular"
}

.sign-up-header1 {
    font-size: 36px;
    font-weight: 100;
    margin: 20px 20px 20px;
}

.sign-up-header2 {
    font-size: 28px;
    font-weight: 100;
    margin: 20px 20px 20px;
}

.sign-in-div-on-sign-up-page {
    margin-left: 10%;
    color: gray;
    font-size: 20px;
}
.sign-in-text-on-sign-up-page {
    color: #21CE99;
}

.errors {
    list-style-type: none;
    display: flex;
    /* justify-content: center; */
}

.bang {
    width: 16px;
    /* margin-top: 50px; */
    /* top: 2px; */
    background-position: 0% 100%;
    margin-right: 5px;
}
.ulerrors {
    padding-left: 0;
}

