.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.news-feed-titles {
    font-size: large;
    font-weight: bold;

}

.navBar-home-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.li-of-newsfeed {
display: flex;

}

.pictures-on-news-feed {
    width: 196px;
    height: 134px;
}

.img-text {
    padding-left: 3%;
}

.homepage-body{
    display: flex;
}