.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0% 8%;
}

.news-feed-titles {
    font-size: large;
    font-weight: bold;

}

.navBar-home-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.li-of-newsfeed {
display: flex;

}

.pictures-on-news-feed {
    width: 196px;
    height: 134px;
}

.img-text {
    padding-left: 3%;
}

.homepage-body{
    display: flex;
}

.homepage-button-in-nav-bar {
    font: 22px "DIN Pro";
    font-family: "DINNextW01-Regular";
    font-weight: 900;
    text-decoration: none;
    color: black;
    margin-top: 10px;

}

.homepage-button-in-nav-bar:hover {
    color: #18563e;
}

.news-feed-title {
    display: flex;
    justify-content: center;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
    font-size: 30px;
    padding: 20px;
}

.buying-power {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.side-stock-info-on-homepage {
    margin-left: 2%;
}