.StockShowPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.StockShowPage-navbar {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
}

table,
td {
    border: 1px solid #333;
    margin: auto;
    width: 500px;
}

thead,
tfoot {
    background-color: #18563e;
    color: #fff;
}

.stock-index-page {
    background-color: cadetblue;
}

.stock-index-table {
    background-color: lightblue;
}

